@using MedioClinic.Models.Account

@model MedioClinic.Models.PageViewModel<EmailViewModel>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <h4>Reset password</h4>
        </div>
        <div class="row section">
            <div class="col l6 m12 s12">
                <p>
                    <a href="@Url.Action("Register", "Account")" class="kn-smaller">@Html.Localize("Views.Account.RegisterNow")</a>
                    <div class="col s12">
                        <div class="row kn-row-margin">
                            <div class="input-field col s6">
                                @Html.TextBoxFor(m => m.Data.Email, new { @class = "validate", placeholder = Html.DisplayNameFor(m => m.Data.Email) })
                            </div>
                        </div>
                        <div class="row kn-row-margin">
                            <div>
                                <button class="btn waves-effect waves-light red darken-3" type="submit" name="action">@Html.Localize("PassReset.Title")</button>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Signin", "Account")" class="kn-smaller">@Html.Localize("Views.Account.ForgotPassword.AlreadyMember")</a>
                </p>

            </div>
            <div class="col l6 m12 s12">
                <img class="responsive-img kn-img-margin" src="@Url.Content("~/Content/Images/register-signin.jpg")">
            </div>
        </div>
    </div>
}