@using CMS.DocumentEngine
@using MedioClinic.Models
@using MedioClinic.Models.Widgets
@using MedioClinic.Models.InlineEditors
@model SlideshowWidgetViewModel

@{
    var editMode = false;
    var swiperId = "swiper-" + Guid.NewGuid().ToString().ToLower();
    var swiperArtifactClass = $"{swiperId}-artifact";
    var containerStyleAttribute = $"width:{Model.Width}px;\nheight:{Model.Height}px;";
    var containerAspectRatio = (double)Model.Width / (double)Model.Height;

    IImageSizeConstraint GetImageSizeConstraint(DocumentAttachment documentAttachment, int frameWidth, int frameHeight)
    {
        var attachmentAspectRatio = (double)documentAttachment.AttachmentImageWidth / (double)documentAttachment.AttachmentImageHeight;

        if (containerAspectRatio >= attachmentAspectRatio)
        {
            return new Width(frameWidth);
        }
        else
        {
            return new Height(frameHeight);
        }
    }
}

<style>
    .@Html.Raw(swiperArtifactClass) {
        @Html.Raw(containerStyleAttribute)
    }
</style>

<div class="swiper-container @Html.Raw(swiperArtifactClass)" id="@swiperId">
    <div class="swiper-wrapper">
        @if (Model.Images != null && Model.Images.Any())
        {
            foreach (var image in Model.Images)
            {
                var sizeConstraint = GetImageSizeConstraint(image, Model.Width, Model.Height);
                var imageStyleAttribute = image != null ? $"style=\"background-image: url('{Url.KenticoImageUrl(image.GetPath(), sizeConstraint)}');\"" : string.Empty;
                var imageId = "i-" + image.AttachmentGUID;
                <div class="swiper-slide">
                    <div class="dropzone slideshow-image @Html.Raw(swiperArtifactClass)" id="@imageId" @Html.Raw(imageStyleAttribute)></div>
                </div>
            }
        }
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>

    @if (Context.Kentico().PageBuilder().EditMode)
    {
        editMode = true;

        Html.RenderPartial("InlineEditors/_SlideshowEditor", new SlideshowEditorViewModel
        {
            PropertyName = nameof(SlideshowWidgetProperties.ImageIds),
            Images = Model.Images,
            Width = Model.Width,
            Height = Model.Height,
            SwiperId = swiperId
        });
    }
    else
    {
    }
</div>

<script>
    @{
        var editModeLiteral = editMode.ToString().ToLower();
        var initSwiperLiteral = $"window.kenticoPageBuilder.initSwiper(\"{swiperId}\", {editModeLiteral}, {Model.TransitionDelay}, {Model.TransitionSpeed});";
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", function () {
                @Html.Raw(initSwiperLiteral)
            });
    } else {
        @Html.Raw(initSwiperLiteral)
    }
</script>