@using MedioClinic.Models.Widgets
@using MedioClinic.Models.InlineEditors
@model SlideshowWidgetViewModel

@{
    var loop = false;
    var swiperId = "swiper-" + Guid.NewGuid().ToString().ToLower();
    var containerStyleAttribute = $"width:{Model.Width}px; height:{Model.Height}px";
}

<div class="swiper-container" id="@swiperId" style="@containerStyleAttribute">
    <div class="swiper-wrapper">
        @if (Model.Images != null && Model.Images.Any())
        {
            foreach (var image in Model.Images)
            {
                var imageStyleAttribute = image != null ? $"style=\"background-image: url('{Url.KenticoImageUrl(image.GetPath())}');{containerStyleAttribute}\"" : string.Empty;
                var imageId = "i-" + image.AttachmentGUID;
                <div class="swiper-slide"><div class="dropzone" id="@imageId" @Html.Raw(imageStyleAttribute)>Slide @imageId - <a class="dz-clickable">Upload a file</a></div></div>
            }
        }
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>

    @if (Context.Kentico().PageBuilder().EditMode)
    {
        Html.RenderPartial("InlineEditors/_SlideshowEditor", new SlideshowEditorViewModel
        {
            PropertyName = nameof(SlideshowWidgetProperties.ImageIds),
            Images = Model.Images,
            Width = Model.Width,
            Height = Model.Height,
            SwiperId = swiperId
        });
    }
    else
    {
        loop = true;
    }
</div>

<script>
    @{ var loopString = loop.ToString().ToLower(); }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", function () {
                window.kenticoPageBuilder.initSwiper("@swiperId", @loopString);
            });
    } else {
        window.kenticoPageBuilder.initSwiper("@swiperId", @loopString);
    }
</script>