@model MedioClinic.Models.PageViewModel<MedioClinic.Models.Doctors.DoctorsViewModel>

<div class="section kn-section-top">
    <div class="container">
        <!-- Doctors header section-->
        <div class="row">
            <h1 class="header col s12">@(Model.Data.DoctorSection?.Header)</h1>
        </div>
    </div>
</div>
<!--   Doctors Section   -->
@if (Model.Data.Doctors != null)
{
    <div class="section">
        <div class="container">
            <div class="row">
                @foreach (var doctor in Model.Data.Doctors)
                {
                    <div class="col l4 m12 s12">
                        <div class="card">
                            <div class="card-image">
                                <img src="@Url.Kentico().ImageUrl(doctor.ImagePath, SizeConstraint.Empty)" alt="@doctor.FullName">
                            </div>
                            <div class="card-title">
                                <a href="@Url.Action("Detail", "Doctors", new { nodeId = doctor.NodeId, nodeAlias = doctor.NodeAlias })">@doctor.FullName, @doctor.Degree</a>
                            </div>
                            <div class="card-content">
                                <p>
                                    @Html.Raw(doctor.Bio)
                                </p>
                            </div>
                            <div class="kn-doctor-badges">
                                @if (doctor.HasShiftToday)
                                {
                                    <span class="kn-doctor-badge opened">
                                        Open
                                    </span>
                                }
                                else
                                {
                                    <span class="kn-doctor-badge closed">Now closed</span>
                                }
                            </div>
                            <div class="card-action">
                                <a href="@Url.Action("Detail", "Doctors", new { nodeId = doctor.NodeId, nodeAlias = doctor.NodeAlias })">See more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
